<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Component Id="FFmpegAvcodec" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/avcodec-63.dll" />
    </Component>
    <Component Id="FFmpegAvdevice" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/avdevice-63.dll" />
    </Component>
    <Component Id="FFmpegAvfilter" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/avfilter-10.dll" />
    </Component>
    <Component Id="FFmpegAvformat" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/avformat-63.dll" />
    </Component>
    <Component Id="FFmpegAvutil" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/avutil-60.dll" />
    </Component>
    <Component Id="FFmpegPostproc" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/postproc-60.dll" />
    </Component>
    <Component Id="FFmpegSwresample" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/swresample-6.dll" />
    </Component>
    <Component Id="FFmpegSwscale" Guid="*" Directory="INSTALLFOLDER">
      <File Source="src-tauri/bin/swscale-8.dll" />
    </Component>
  </Fragment>
</Wix>
